.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.main a {
  color: inherit;
  text-decoration: none;
}

.book {
  width: 500px;
}

.book > a {
  display: block;
  margin: 1rem;
  padding: 2rem;
  border: 1px solid black;
}

.form {
  margin: 1rem;
  display: flex;
  gap: 1rem;
}

.form > * {
  padding: 0.5rem;
}
